body {
    font-family: sans-serif;
    text-align: center;
}

.calendar-controls {
    margin: 20px;
    font-size: 20px;
}

.calendar-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    max-width: 800px;
    margin: 0 auto;
    font-weight: bold;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    max-width: 800px;
    margin: 5px auto 20px auto;
}

.day {
    border: 1px solid #ccc;
    min-height: 100px;
    padding: 5px;
    text-align: left;
    font-size: 14px;
}

.empty { background: #eee; }
.weekday { background: #fffff; }
.saturday { background: #ddeeff; }
.sunday { background: #ffdddd; }

.event {
    background: green;
    color: white;
    margin-top: 3px;
    padding: 2px;
    font-size: 12px;
}

.task {
    background: orange;
    color: white;
    margin-top: 3px;
    padding: 2px;
    font-size: 12px;
}
